[project]
name = "clubhub"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dotenv>=0.9.9",
    "pymongo>=4.15.5",
    "rich>=14.2.0",
]
